@model JRECars.Models.CarViewModel
@{
    ViewBag.Title = "Details";
}

<h3>Details offer</h3>
<script src="~/Scripts/Details/ImageSlider.js"></script>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorsePower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorsePower)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kilometers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kilometers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearOfManufacture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfManufacture)
        </dd>
    </dl>
    <div id="detailed-pic-container">
        <span id ="left-arrow-pic-slider">

        </span>
        @for (int i = 0; i < Model.Images.Count(); i++)
        {
            string base64String = Convert.ToBase64String(Model.Images.ElementAt(i));
            <img src="@String.Format("data:image/png;base64,{0}", base64String)" style="width: 600px; height: 400px; display: none" id="detailed-pic-container-pic-@i"/>
        }

    </div>
    <span class="slider-arrows">
        <img src="~/Content/images/006764-3d-transparent-glass-icon-arrows-arrowhead-solid-right.png" id="right-arrow-pic-slider" />
    </span>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
