@model JRECars.Models.Car
@{
    ViewBag.Title = "Details";
    var imagesForTheCar = ((CarShop.Controllers.StoreManagerController) this.ViewContext.Controller).GetImages(Model.CarId);
}

<h3>Details offer</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorsePower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorsePower)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kilometers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kilometers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearOfManufacture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfManufacture)
        </dd>
    </dl>
    <div id="detailed-pic-container">
            <img src=@Url.Action("GetImages", "StoreManager", new {carId = Model.CarId}) id="details-image"/>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
